<%= render "devise/shared/error_messages", resource: resource %>

<div class="register-page p-24">
    <h2 class="mb-24" style="color: rgb(0, 152, 121); text-align: center; font-size: 3em;">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form flexbox flex-center' }) do |f| %>
        <div class="add-exercise-inputs flexbox flex-column gap-16">
            <%= f.hidden_field :reset_password_token %>

            <label class="label">Password:
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: '••••••••' %>

                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
            </label>

            <label class="label">Password confirmation:
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '••••••••' %>
            </label>

            <button type="submit" class="main-btn">
                Change my password
            </button>
        </div>
    <% end %>

    <div class="flexbox flex-center flex-column gap-8 py-16">
        <%= render "devise/shared/links" %>
    </div>
</div>
