<!DOCTYPE html>
<html>
  <head>
    <title>LiftLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless notice.blank? %>
        <div data-controller="toast" class="toast info-toast">
            <p><%= notice %></p>
        </div>
    <% end %>

    <% unless alert.blank? %>
        <div data-controller="toast" class="toast error-toast">
            <p><%= alert %></p>
        </div>
    <% end %>

    <div id="root">
        <%= yield %>
    </div>
  </body>
</html>
